<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
    <link rel='stylesheet' href='styles.css' />
  </head>
  <body>
    <div id='app'>
      <div id='deploy'>
        <section title='Token deploy'>
          <h3>Token deploy</h3>
          <button id='deployBtn'>Deploy</button>
        </section>
      </div>
      <div id='watcher'>
        <section title='Run websocket watcher'>
          <h3>Run websocket watcher</h3>
          <button id='runWsBtn'>Run watcher</button>
        </section>
      </div>
      <div id='messages'>

      </div>
    </div>
    <script src='index.js'></script>
  </body>
</html>