* {
  margin: 0;
  padding: 0;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#deploy {
}

#watcher {
}

#messages {
  min-height: 25%;
  max-height: 25%;
  min-width: 50%;
  overflow-y: scroll;
}
